<div class="outer">

  <div class="section-welcome">

    <h4 class="welcome-header">
      Welcome to what we will call my "art gallery". I don't typically show people my art, 
      because I don't find it so impressive. However, one of my good friends recently pointed 
      out a character trait of mine of trying to always be a perfectionist, and although I'm 
      sure she did not intend it as such, I took it as a challenge. Therefore, I chose to 
      take on that challenge by making my art public, no matter what I think about it. Enjoy!
    </h4>

  </div>

  <div class="section-art">

    <div class="art-section">

      <div class="art-label">

        <h2 class="art-title">
          Snake Noir
        </h2>

        <h3 class="art-date">
          2022
        </h3>

      </div>

      <img id="snake" src="assets/images/drawings/snake.jpg">

    </div>

    <div class="art-section">

      <div class="art-label">

        <h2 class="art-title">
          Cyclops Robot
        </h2>

        <h3 class="art-date">
          2020
        </h3>

      </div>

      <img id="cyclops" src="assets/images/drawings/Cyclops.jpg">

    </div>

    <div class="art-section">

      <div class="art-label">

        <h2 class="art-title">
          Smiley Spider
        </h2>

        <h3 class="art-date">
          2019
        </h3>

      </div>

      <img id="spider" src="assets/images/drawings/Suicide Spider.jpg">

    </div>

  </div>

</div>