@import "../../../styles.scss";

div.outer{
  display: flex;
  flex-direction: column;

  div.section-welcome{
    background-color: rgba($teal2, .3);
    box-shadow: 0px 0px 10px 15px rgba($teal2, .3);
    border-radius: .5em;
    width: 85%;

    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
  
    @media only screen and (max-width: 768px){
      margin-top: 10%;;
    }

    h4.welcome-header{
      font-family: Type;
      font-size:larger;
    }
  }

  div.section-art{
    display: flex;
    flex-direction: column;

    background-color: rgba($teal2, .3);
    box-shadow: 0px 0px 10px 15px rgba($teal2, .3);
    border-radius: .5em;

    width: 85%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
  
    @media only screen and (max-width: 768px){
      margin-top: 15%;
    }

    div.art-section{
      background-color: rgba($black, .5);
      box-shadow: 0px 0px 15px 20px rgba($black, .5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 3%;
  
      @media only screen and (max-width: 768px){
        flex-direction: column;
        margin-top: 15%;
      }

      div.art-label{
        display: flex;
        flex-direction: column;
        align-items: center;
  
        @media only screen and (max-width: 768px){
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 1%;
        }

        h2.art-title{
          font-family: Creep;
          font-size: 3em;
          color: $gray2;
          -webkit-text-stroke: .06em $black;
          text-shadow: 0px 0px 25px $black;
          margin: 0;
    
          @media only screen and (max-width: 768px){
            font-size: 2em;
          }
        }

        h3.art-date{
          font-family: Type;
          font-size: 1vw;
          color: $gray1;
          -webkit-text-stroke: .01em $black;
          text-shadow: 0px 0px 25px $black;

          align-self:flex-start;
          margin: 0;
    
          @media only screen and (max-width: 768px){
            font-size: 5vw;
            align-self: flex-end;
            padding-bottom: 1%;
          }
        }
      }

      img{
        &#snake{
          width: 60vw;
          height: 40vw;
    
          @media only screen and (max-width: 768px){
            width: 80vw;
            height: 55vw;
          }
        }

        &#cyclops{
          width: 50vw;
          height: 60vw;
    
          @media only screen and (max-width: 768px){
            width: 80vw;
            height: 100vw;
          }
        }

        &#spider{
          width: 60vw;
          height: 50vw;
    
          @media only screen and (max-width: 768px){
            width: 80vw;
            height: 70vw;
          }
        }
      }
    }
  }
}