@import "../../../styles.scss";

div.outer{
  height: auto;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5%;
  padding-bottom: 1%;

  background-color: rgba($teal2, .3);
  box-shadow: 0px 0px 15px 15px rgba($teal2, .3);
  border-radius: .5em;
  
  @media only screen and (max-width: 768px){
    margin-top: 7.5%;
    max-width: 90%;
    padding-bottom: 2.5%;
  }

  div.upper{

    h2.header{
      font-family: Creep;
      font-size: 3em;
      color: $gray1;
      -webkit-text-stroke: .05em $black;
      text-shadow: 0px 0px 15px $black;
      letter-spacing: 3px;

      padding-left: 1%;
      padding-right: 1%;
      margin: 0;

      border-bottom: solid .1em rgba($black, .3);
  
      @media only screen and (max-width: 768px){
        font-size: 2em;
        -webkit-text-stroke: .025em $black;
      }
    }
  }

  div.middle{

    div.field-grp{
      display: flex;
      flex-direction: row;
  
      @media only screen and (max-width: 768px){
        flex-direction: column;
      }

      div.field{
        width: 50%;
  
        @media only screen and (max-width: 768px){
          width: 95%;
        }
      }
    }

    div.field{
      padding-right: 2%;
      padding-left: 2%;
  
      @media only screen and (max-width: 768px){
      }

      h3.field-label{
        font-family: Type;
        font-size: 2em;
        color: $gray1;
        text-shadow: 0px 0px 20px $black;
  
        @media only screen and (max-width: 768px){
          font-size: 1.5em;
          text-shadow: 0px 0px 15px $black;
        }
      }

      input.field-input, textarea.field-input{
        width: 100%;

        background-color: rgba($black, .6);
        font-family: Type;
        font-size: 2em;
        color: $white;

        border: none;
        box-shadow: 0px 0px 10px 10px rgba($black, .6);

        &:focus{
          outline: none;
        }
  
        @media only screen and (max-width: 768px){
          font-size: 1.25em;
          width: 98%;
        }
      }
    }
  }

  div.lower{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2%;
  
    @media only screen and (max-width: 768px){
      margin-top: 5%;
      justify-content: space-between;
    }

    button{
      font-family: Dutch;
      -webkit-text-stroke: .4px $gray2;

      border: none;
      border-radius: .25em;
      outline: solid .05em $gray2;

      font-size: 2.5vw;
      margin-right: 1em;
      padding-top: .1em;
      background-image: repeating-linear-gradient(45deg, $teal5 1px, $black 5px);
  
      &:hover{
        cursor: pointer;
        outline-color: $gray1;
        -webkit-text-stroke-color: $gray1;
        text-shadow: .025em .025em 10px rgba($teal3, .5);
        box-shadow: 0px 0px 10px 10px rgba($teal4, .5);
      }
  
      @media only screen and (max-width: 768px){
        width: 49%;
        margin-right: 0;
        font-size: 7vw;
      }
    }
  }
}