<div class="outer">

  <div class="inner">

    <div class="section">

      <h2 class="sec-header">WELCOME!</h2>

      <p class="sec-content">
        Thank you for visiting! Here, you'll be able to find updates and write-ups about my latest projects, how I made them, and improvements that I'm planning/implementing for them. My goal is for this site to serve as not only a showcase of my work, but to provide inspiration, and hopefully even impart knowledge, to anyone interested in coding.
      </p>

    </div>

    <div class="section">

      <h2 class="sec-header">LATEST PROJECTS</h2>

      <p class="sec-content">
        Checkout what I'm working on:
      </p>

      <div class="project-list">

        <ng-container *ngFor="let p of projects">
          <gt-project-block [name]="p.name" [description]="p.description" [url]="p.url"></gt-project-block>
        </ng-container>

      </div>
      
    </div>

  </div>

  <div class="inner">

    <div class="section">

      <h2 class="sec-header">Section 2</h2>

      <p class="sec-content">
        Checkout what I'm working on:
      </p>
      
    </div>

    <div class="section">

      <h2 class="sec-header">Section 4</h2>

      <p class="sec-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      
    </div>

  </div>

</div>