@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

//---------------------------------------------------------- COLOR PALETTES
// NEUTRALS
$white: #EEE;
$gray1: #BBB;
$gray2: #888;
$gray3: #555;
$black: #111;

// THEME
$navy: #142d4c;
$blue-chalk: #385170;
$mint: #9fd3c7;
$lilac: #ececec;

//---------------------------------------------------------- FONTS
// Logo Font
@font-face {
    font-family: gothic_sketch;
    src: url("./assets/fonts/gothic_sketch.ttf") format('truetype');
    font-style: normal;
}

// Titles & Headers
@font-face {
    font-family: primary;
    src: url("./assets/fonts/primary.ttf") format('truetype');
    font-style: normal;
}

// Paragraph text
@font-face {
      font-family: regular_text;
      src: url("./assets/fonts/regular_text.ttf") format('truetype');
      font-style: normal;
}

//---------------------------------------------------------- ANIMATIONS

//---------------------------------------------------------- GLOBAL CLASSES
*{
  font-family: regular_text;
}