@import "../../../styles.scss";

button.nav-button{
    position: sticky;
    background-color: transparent;
    border: none;

    color: $gray1;
    font-family: primary;
    font-size: 2em;
    font-weight: bold;

    &:hover{
        cursor: pointer;
    }
}