@import "../../../styles.scss";

div.frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 70%;
    margin: 0 auto;
    padding: .25em;
}