@import "../../../styles.scss";

div.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: .25em;

    div.presets{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 0 auto;

        width: 100%;

        button{
            background-color: transparent;
            border: none;
        
            color: $gray2;
            font-family: regular_text;
            font-size: 1em;
            font-weight: bold;
            white-space: nowrap;
        
            transition: all 0.5s ease-in-out;
        
            &:hover{
                cursor: pointer;
                color: $gray1;
                text-shadow: 0 0 2px $gray2;
            }
        }
    }

    div.upper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin: 0 auto;

            width: 50%;

        h2.header{
            font-family: primary;
            color: $gray2;
        }
    }

    form{
        height: 100%;
        width: 100%;
        margin: 0 auto;

        div.middle{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin: 0 auto;

            width: 50%;

            div.field{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                color: $gray2;

                margin: 1em 0;
                
                width: 100%;

                input, textarea{
                    background-color: transparent;
                    border: none;
                    outline: solid 1px $gray2;

                    color: $gray2;
                    font-family: regular_text;
                    font-size: 1em;

                    transition: all 0.5s ease-in-out;

                    &:hover{
                        color: $gray1;
                        text-shadow: 0 0 10px $gray2;
                    }

                    &:focus{
                        outline: none;
                        color: $white;
                        outline: solid 1px $white;
                    }
                }
            }
        }

        div.lower{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin: 0 auto;

            width: 25%;

            button{
                background-color: transparent;
                border: none;
            
                color: $gray2;
                font-family: primary;
                font-size: 1.5em;
                font-weight: bold;
            
                transition: all 0.5s ease-in-out;
            
                &:hover{
                    cursor: pointer;
                    color: $gray1;
                    text-shadow: 0 0 2px $gray2;
                }
            }
        }
    }
}