@import "../../../styles.scss";

div.outer{
  border-top:  double .5vw rgba($gray2, .3);

  width: 99.9%;
  height: auto;
  margin-top: 3%;
  padding-top: .5%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  @media only screen and (max-width: 768px){
    margin-top: 10%;
    width: 99%;
    flex-direction: column;
    padding-top: 3%;
    border-top-width: 1.5vw;
  }

  div.section{

    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    @media only screen and (max-width: 768px){
      width: 100%;
    }

    h4.footer-item{
      text-align: center;
      font-family: Type;
      color: rgba($teal2, .2);
      margin: 0;

      a{
        color: rgba($teal2, .2);

        i{
          font-size: 1.25vw;
          margin-left: 1em;
          vertical-align: middle;

          &:hover{
            cursor: pointer;
            color: rgba($teal2, .4);
            text-shadow: 0px 0px 4px $teal2;
          }
  
          @media only screen and (max-width: 768px){
            font-size: 6vw;
          }
        }
      }
    }

    h4.link:hover{
      cursor: pointer;
      color: rgba($teal2, .4);
      text-shadow: 0px 0px 4px $teal2;
    }
  }
}