@import "../../../styles.scss";

div.frame{
    display: flex;
    flex-direction: row;

    max-width: 90%;
    margin: 0 auto;
    padding: .25em;

    div.license{
        width: 50%;
        color: $gray1;
        margin: 0 auto;
        padding: 1em;

        h2{
            font-family: primary;
            font-size: 3em;
            margin: 0;
            border-bottom: solid 2px $gray2;
        }

        h3{
            font-family: primary;
            font-size: 1.5em;
            margin: 0;
        }

        p{
            font-size: 1.25em;
            text-align: justify;
        }
    }
}