<div class="outer">

  <div class="project-block">

    <div class="upper">

      <h3 class="project-title" id="portfolio">Portfolio</h3>

      <div class="link-grp">

        <a class="link-btn" href="https://github.com/theokoles7/portfolio">
          <i class="bi bi-github"></i>
        </a>

      </div>

    </div>

    <div class="lower">

      <div class="section">

        <h4 class="section-title">Description</h4>

        <p class="section-content">
          Do you ever get tired of trying to explain to people all of the 
          different projects you're involved in, or get frustrated that you 
          can only mention so much about them on your resume instead of 
          giving a full demonstration? Well, I decided to solve that problem 
          by building my own portfolio site. Now, when an employer asks what 
          types of things I have worked on in the past, I'll be able to pass 
          them a link, and they can see all of my [showcased] worked. The best 
          part is that I can continue adding project write ups to this site as 
          I implement and update them. 
        </p>

      </div>

      <div class="section">

        <h4 class="section-title">Lessons Learned</h4>

        <p class="section-content">
          To be fair, this is not the first time that I attempted to build this 
          site. I've started over from scratch after letting the project slip my 
          mind about a year ago. Both times now, I've picked up plenty of new tricks 
          and skills in HTML, CSS, Angular (TypeScript), and especially in using better 
          source control habits. Aside from programming, I've learned to be more patient 
          with myself when I'm working on things like this. It's easy for me to get 
          caught up in doing something many times over because I'm either not pleased 
          enough with it or I changed my mind. 
        </p>

      </div>

      <div class="section">

        <h4 class="section-title">Tools Used</h4>

        <p class="section-content">
          This site was built using the Angular framework with common HTML, SCSS, and Typescript. 
          The only "styling library" that I use is 
          <a class="link" href="https://icons.getbootstrap.com/">
            Bootstrap's Icon
          </a>
           library, and I use Github for 
          source controlling all of my projects, as well as their Pages feature for 
          deploying a few of them. For this 
          site's messaging feature, I've utilized a free API called 
          <a class="link" href="https://formspree.io/">
            Formspree
          </a>, which was very easy to integrate into the Angular application. 
        </p>

      </div>

    </div>

  </div>

  <div class="project-block">

    <div class="upper">

      <h3 class="project-title" id="portfolio">Dr. Sudoku</h3>

      <div class="link-grp">

        <a class="link-btn" href="https://github.com/theokoles7/Dr-Sudoku">
          <i class="bi bi-github"></i>
        </a>

        <a class="link-btn" href="https://theokoles7.github.io/Dr-Sudoku/">
          <i class="bi bi-arrow-right-square-fill"></i>
        </a>

      </div>

    </div>

    <div class="lower">

      <div class="section">

        <h4 class="section-title">Description</h4>

        <p class="section-content">
          This app actually started as my senior project for my undergraduate program 
          where I implemented the classic backtracking algorithm in Java and applied it to 
          Sudoku puzzles. On top of the classic version, I implemented the enhanced 
          version (which utilizes pencil marked candidates), as well has a human inpired 
          version which employs techniques such as single blanks, naked candidates, and 
          x-wing. My goal was to determine how many human techniques could be integrated 
          into the algorithm before its efficiency become impractical. To my surprise, the 
          original version was not able to handle the overhead of more than one technique 
          being integrated. Either the run times became astronomically higher in comparison 
          to the two initial algorithms, or sometimes, the puzzle wouldn't even be solved.
          Fortunately, I revisited my work after the assignment was complete and considered 
          ways that I could improve the algorithm further, add more techniques, and prevent 
          it from breaking down from the overhead, and I am proud to say that I was able to 
          not only improve it, but I improved it such that it beats the enhanced backtrack 
          algorithm consistently, except for in special edge cases. All in all, it was a 
          great learing experience, and I even made my own app that animates the algorithms 
          working in real time. Check it out by clicking the arrow button at the top of this section!
        </p>

      </div>

      <div class="section">

        <h4 class="section-title">Lessons Learned</h4>

        <p class="section-content">
          There is no doubt that I learned some harder lessons about time management throughout 
          this particular project, due to it being a school assignment. At first, I set the scope 
          of my project to be very minimal. As previously mentioned, I initially only wrote the 
          algorithms to run in Java in a terminal. I considered creating a animated user interface 
          at the beginning and decided against it because I didn't believe that I would have enough time 
          to complete that portion. However, as I learned after the assignment, I've gotten comfortable 
          enough in front end development that it didn't take me very long at all. I'll always 
          wish that I did it for the assignment so that my presentation had more of a "wow" factor 
          to it, but at least I know now. Of course, this project also tested my algorithm writing 
          skills, and I'd argue that my implementation capabilities are much stronger because of it.
        </p>

      </div>

      <div class="section">

        <h4 class="section-title">Tools Used</h4>

        <p class="section-content">
          This site was built using the Angular framework with common HTML, SCSS, and Typescript. 
          The only "styling library" that I use is 
          <a class="link" href="https://icons.getbootstrap.com/">
            Bootstrap's Icon
          </a>
           library, and I use Github for 
          source controlling all of my projects, as well as their Pages feature for 
          deploying a few of them. As I said before, I also originally wrote the algorithms 
          in Java before translating them to TypeScript. 
        </p>

        <img id="backtrackgif" src="../../../assets/images/projects/backtrack.gif">

      </div>

    </div>

  </div>

  <div class="project-block">

    <div class="upper">

      <h3 class="project-title" id="portfolio">Quizzler</h3>

      <div class="link-grp">

        <a class="link-btn" href="https://github.com/theokoles7/Quizzler">
          <i class="bi bi-github"></i>
        </a>

        <a class="link-btn" href="https://theokoles7.github.io/Quizzler/">
          <i class="bi bi-arrow-right-square-fill"></i>
        </a>

      </div>

    </div>

    <div class="lower">

      <div class="section">

        <h4 class="section-title">Description</h4>

        <p class="section-content">
          Quizzler was born from the interest my friends and I have in 
          trivia (we can be a bit obsessive about it). We'd played certain trivia games so many times 
          that we were running out of fresh questions. This gave me the idea to simply create my own 
          trivia app for us to play. I made it a point to keep it simple, clean, and easy to use. When 
          arriving at the main menu of the game, users will notice there are multiple options for 
          getting the perfect round of questions. The quantity, category, difficulty, and type (multiple 
          choice or true/false) of questions can be controlled. Once the player selects "Begin", they're 
          taken to a "scrolling question stream" and they can start answering questions. Fair warning: Even 
          questions labeled as "Easy" can be quite difficult. Personally, I have yet to get a perfect score.
        </p>

      </div>

      <div class="section">

        <img id="quizzler-pic" src="../../../assets/images/projects/quizzler2.png">

      </div>

      <div class="section">

        <h4 class="section-title">Lessons Learned</h4>

        <p class="section-content">
          I will admit that at the surface, this project does not seem very significant to many 
          people, programmers or not, and most people probably didn't even care when I first showed it to them,
           but it's very important to me because it entailed a lot 
          of "firsts" for me as a developer. For instance, it was the first app that I ever made, 
          from beginning to end, by myself. It was the first app that I deployed publically. It 
          was the first app that I implemented a controlled theme for (I actually created two that 
          users can switch between). It was the app that taught me the largest amount of HTML and CSS 
          that I've ever learned all at once. It was the first time that I experimented (and dare I say 
          succeeded) with mobile responsiveness. Since creating Quizzler, I've been able to carry all 
          of these lessons over to new projects, and I believe I've become far more efficient. Where it took 
          me around a month to create Quizzler (a minimalistic app), it's taken me a few days now to create 
          more complicated apps. 
        </p>

      </div>

      <div class="section">

        <h4 class="section-title">Tools Used</h4>

        <p class="section-content">
          This site was built using the Angular framework with common HTML, SCSS, and Typescript. 
          The only "styling library" that I use is 
          <a class="link" href="https://icons.getbootstrap.com/">
            Bootstrap's Icon
          </a>
           library, and I use Github for 
          source controlling all of my projects, as well as their Pages feature for 
          deploying a few of them. In order to deploy this app without a database of preloaded 
          questions [that I would have knowledge of and be able to cheat with], I utilized a 
          free API called 
          <a class="link" href="https://opentdb.com/">
            Open Trivia Database
          </a>.
        </p>


      </div>

    </div>

  </div>

</div>