<div class="outer">

  <div class="section">

    <h2 class="section-header">Bio</h2>

    <p class="section-content">
      Hello! My name is Gabe, and I'm a software engineer from South Louisiana with goals
      of making the world a better place through software and robotics. I spend the majority 
      of my free time challenging myself with projects in many different areas, including 
      coding, electronics, art, and music. 
    </p>

    <p class="section-content">
      I'm currently working as a DevOps engineering intern at CGI. I'm part of an awesome 
      team that has taught me numerous skills of the trade.  
    </p>

  </div>

  <div class="section">

    <h2 class="section-header">Experience</h2>

    <div class="list" *ngFor="let l of lists">

      <h4 class="list-title">{{l.title}}:</h4>

      <ul class="content-list">
        <li *ngFor="let i of l.items">+ {{i}}</li>
      </ul>

    </div>

  </div>

  <div class="section">

    <h2 class="section-header">News</h2>

    <ng-container *ngFor="let n of news">
      <gt-news-block
        [name]="n.title"
        [description]="n.description"
        [url]="n.url"
      ></gt-news-block>
    </ng-container>

  </div>

</div>