@use "../../../styles" as *;

div.page {
    max-width: 50%;
    margin: 0 auto;
    padding: 3em 1.5em;

    hr.divider {
        border: none;
        border-bottom: $gray3 solid 1px;
        margin: 0 0 2.5em 0;
    }

    div.page-header {

        h1.page-title {
            font-family: regular_text;
            font-size: 3em;
            font-weight: 100;
            color: $white;
            margin: 0 0 0.75em 0;
        }
    }

    div.page-body {
        display: flex;
        flex-direction: column;

        div.project-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: 1.5em 0;
            border-bottom: $gray3 solid 1px;
            cursor: pointer;

            transition: all 0.3s ease;

            div.card-content {

                h2.card-title {
                    font-family: primary;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: $gray1;
                    margin: 0 0 0.4em 0;
                    transition: color 0.3s ease;
                }

                p.card-description {
                    font-family: regular_text;
                    font-size: 0.9em;
                    line-height: 1.6;
                    color: $gray3;
                    margin: 0;
                    transition: color 0.3s ease;
                }
            }

            span.card-arrow {
                font-size: 1.2em;
                color: $gray3;
                padding-left: 1.5em;
                transition: all 0.3s ease;
            }

            &:hover, &.active {
                div.card-content {
                    h2.card-title  { color: $white; }
                    p.card-description { color: $gray2; }
                }

                span.card-arrow {
                    color: $white;
                    padding-left: 2em;
                }
            }
        }
    }
}