@import "../../../styles.scss";

div.nav-bar{
    display: flex;
    flex-direction: row;

    max-width: 90%;
    margin: 0 auto;
    padding: .25em;
    border-bottom: $gray2 double 7px;

    div.nav-left{
        display: flex;
        flex-direction: row;
    
        width: 40%;
        padding: .25em;

        h1.name{
            font-family: gothic_sketch;
            font-size: 450%;
            font-weight: 100;
            white-space: nowrap;
            text-align: center;
            color: $gray2;

            margin: 0;

            transition: all 0.5s ease-in-out;

            &:hover{
                cursor: pointer;
                color: $gray1;
                text-shadow: 0 0 10px $gray2;
            }
        }
    }

    div.nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        width: 60%;
        padding: .25em;
    }
}